-f http://simple.crate.io/
MarkupSafe==0.23
Pygments==2.0.2
sphinx
# temporarily disabled because of an issue on RTD. see also conf.py
#sphinxcontrib-spelling
pyenchant==3.1.0
sphinx-autobuild
divio-docs-theme
